<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Ficha del Contacto</title>
</head>

<body>

<h1>Ficha del contacto</h1>
<a href="{{ path('contacto_list') }}">Volver a la lista de contactos</a>

{% if contacto %}
    <ul>
        <li><strong>{{ contacto.nombre }}</strong></li>
        <li><strong>Teléfono: </strong>{{ contacto.telefono }}</li>

        <li><strong>Provincia: </strong>{{contacto.provincia ? contacto.provincia.nombre : '' }}</li>

        <li><strong>Correo: </strong>{{ contacto.email }}</li>
    </ul>
{% else %}
    <p>Contacto no encontrado</p>
{% endif %}

</body>

</html>

